<!DOCTYPE html>
<html lang="en">
{{> head}}
<body class="{{bodyClass}}">
    {{> header}}

    <main class="site-main">
        <div class="container">
            <div class="page-content">
                <h1>Fiction</h1>

                <div class="row fiction-intro">
                    <div class="col-12 col-sm-6">
                        <p>Get a free copy of my short story <em>The Singing Rock</em>:</p>
                        <p><em>Two sisters make a profound discovery while scrapping for resources on the edge of the galaxy, leading them to question everything about their lives, what came before, and what they might do next.</em></p>
                        <p>Click the link below to sign up for my newsletter and I will send you the story right away. Once subscribed, you will receive future stories and updates in your inbox. Thanks for reading!</p>
                        <button class="ml-onclick-form" onclick="ml('show', 'vMP8qa', true)">Get my short story</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="custom-image-wrapper">
                            <img src="{{baseUrl}}images/the-singing-rock.jpg" alt="The Singing Rock — a short story by Nikolas Haug">
                            <div class="custom-image-overlay"></div>
                        </div>
                    </div>
                </div>

                <p>Look for future links to new short fiction on this page, some of it published directly on this website. I write a lot of short stories, and I try to publish some of them in various places online or in the real world. I share most of my latest work with readers in my newsletter.</p>

                <h2>Strange technology inspired by my fiction</h2>

                <p>Alongside my fiction and other writing I also write code, and beyond the demands of my day job, I like to experiment with strange ideas inspired by ideas in my stories and make them come alive in the web browser or other digital spaces. One recent example would be this prototype model from one of my stories of a machine used to talk to whales. I call it the BEALE (bathymetric echo audio listening encoder) and you can test it by clicking the link below. Come with your own whale songs in MP3 or WAV format, or try the existing catalog on the page.</p>

                <div class="text-center"><a href="https://beale.nikolashaug.com" class="button" target="_blank" rel="noopener">Test prototype</a></div>

                <h2>Some craft related items</h2>

                <p>I collect ideas about writing craft and process in my newsletter, but have distilled some of those thoughts into blog posts that can be read here.</p>

                <p>I also like to make things to help myself and other writers better organize their ideas when drafting or revising their stories. One example: I created a short template for developing characters through their actions, one that compiles the ideas of famed SFF author, Samuel R. Delany, and his ideas/discussion in his book <strong><em>About Writing</em></strong> (2005 Wesleyan University Press). The template focuses on how to make characters in your stories more real by focusing on how they act. You can download the template below.</p>

                <div class="text-center"><a href="{{baseUrl}}assets/character-template.pdf" class="button" download>Download character template</a></div>

                <p>I try to keep this page up to date, so look for more stuff like this, and more links to my writing, here in the future.</p>
            </div>
        </div>
    </main>

    {{> footer}}
</body>
</html>
